#product-details h4, p {
    direction: rtl;
}

#product-info .card {
    border-radius: unset;
}

#product-details {
    padding-right: unset;
}

#product-images {
    padding-left: unset;
}

#product-images .card {
    border-left: none;
}

#product-images .mySlides {
    width: 100%;
    height: 20rem;
    margin-top: 1rem;
}

.w3-col {
    float: left;
    width: 100%
}

.w3-col.s1 {
    width: 8.33333%
}

.w3-col.s2 {
    width: 16.66666%
}

.w3-col.s3 {
    width: 19.99999%
}

.w3-col.s4 {
    width: 33.33333%
}

.w3-opacity, .w3-hover-opacity:hover {
    opacity: 0.60
}

.w3-opacity-off, .w3-hover-opacity-off:hover {
    opacity: 1
}

#product-form {
    direction: rtl;
}

#increase {
    border-radius: 8px 0 0 8px;
}

#decrease {
    border-radius: 0 8px 8px 0;
}

#quantity {
    border-radius: unset;
    width: fit-content;
}