{% extends 'base/base.html' %}

{% load static %}

{% block title %}تغییر رمز عبور{% endblock %}

{% block style %}
    <link rel="stylesheet" href="{% static 'accounts/css/login.css' %}">
{% endblock %}

{% block content %}
    <div class="row content-row">
        <div class="card col-10">
            {% if validlink %}
                <h1>رمز عبور جدید</h1>
                <form method="POST">
                    {% csrf_token %}
                    {{ form.as_p }}
                    <input type="submit" value="تغییر رمز عبور">
                </form>
            {% else %}
                <p>لینک داده شده معتبر نیست. میتوانید از <a href="{% url 'password_reset' %}">اینجا</a> دوباره اقدام به دریافت ایمیل کنید</p>
            {% endif %}
        </div>
    </div>
{% endblock %}