{% extends 'base/base.html' %}

{% load static %}

{% block title %}فراموشی رمز عبور{% endblock %}

{% block style %}
    <link rel="stylesheet" href="{% static 'accounts/css/login.css' %}">
{% endblock %}

{% block content %}
    <div class="row content-row">
        <div class="card col-10">
            <h1>فراموشی رمز عبور</h1>
            <p>:لطفاً ایمیل خود را وارد کنید</p>

            <form method="POST">
                {% csrf_token %}
                {{ form.as_p }}
                <input type="submit" value="ارسال">
            </form>
        </div>
    </div>

{% endblock %}