.create-order-row .card {
    border-radius: 2%;
    min-height: 35rem;
    padding-bottom: 2rem;
    margin-left: auto;
    margin-right: auto;
}

.create-order-row .card:hover {
    box-shadow: unset;
}

#create-order-form, #coupon-form {
    direction: rtl;
    width: 20rem;
    text-align: right;
    margin-top: 2rem;
    margin-left: auto;
    padding-right: 1rem;
}

#create-order-form .form-group {
    width: 30rem;
}

.btn-secondary {
    margin-top: 10rem;
}