{% extends 'base/base.html' %}

{% load static %}

{% block title %}همه محصولات{% endblock %}

{% block style %}
    <link rel="stylesheet" href="{% static 'product/css/all-products.css' %}">
{% endblock %}

{% block content %}
    <div class="row ord-row">
        <div class="col-12">
            <p style="padding-right: 2px">فروشگاه اینترنتی کالاشاپ / کالای دیجیتال / موبایل /
                گوشی</p>
            <div class="card ord-card">
                <div class="card-body row flex-row-reverse">
                    <p class="card-text">:مرتب سازی براساس&nbsp<i class="fa fa-fw fa-list-ol"></i></p>
                    <div class="ord-links">
                        <button href="#">ارزان‌ترین</button>
                        <button href="#">گران‌ترین</button>
                        <button href="#">پرفروش‌ترین</button>
                        <button href="#" class="bg-primary text-light">جدید‌ترین</button>
                        <button href="#">پربازدید‌ترین</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row content-row">
    </div>
{% endblock %}

{% block pagination %}
    <div class="pagination">
    </div>
{% endblock %}

{% block script %}
    <script src="{% static 'product/js/all-products.js' %}"></script>
{% endblock %}