{% extends 'base/base.html' %}

{% load static %}

{% block title %}ثبت سفارش{% endblock %}

{% block style %}
    <link rel="stylesheet" href="{% static 'order/css/create-order.css' %}">
{% endblock %}

{% block modal %}
    <div class="modal fade" id="add-address-modal">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-body">
                    <h5 class="alert alert-info m-2 mt-2">« ثبت آدرس جدید »</h5>
                    <form method="post" action="{% url 'add_address' %}" id="add-address-form">
                        {% csrf_token %}

                        <div class="form-row">
                            <div class="form-group col-md-6">
                                <label for="add-province">استان:</label>
                                <select class="form-control province" name="add-province" id="add-province"
                                        onchange="Func(this.value)">
                                </select>
                            </div>
                            <div class="form-group col-md-6">
                                <label for="add-city">شهر:</label>
                                <select class="form-control city" name="add-city" id="add-city"></select>
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="add-exact_address">آدرس دقیق:</label>
                            <input type="text" class="form-control" name="add-exact_address" id="add-exact_address">
                        </div>
                        <div class="form-row">
                            <div class="form-group col-md-4">
                                <label for="add-No">پلاک:</label>
                                <input type="number" class="form-control" name="add-apartment_number" id="add-No">
                            </div>
                            <div class="form-group col-md-3">
                                <label for="add-unit">واحد:</label>
                                <input type="number" class="form-control" name="add-unit" id="add-unit">
                            </div>
                            <div class="form-group col-md-5">
                                <label for="add-zip_code">کد پستی:</label>
                                <input type="number" class="form-control" name="add-zip_code" id="add-zip_code">
                            </div>
                        </div>
                        <div id="add-address-btn-group" class="mt-3">

                            <button type="submit" class="btn btn-submit mr-0">ثبت آدرس</button>

                            <button class="btn btn-danger mr-3" data-dismiss="modal">انصراف</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block content %}
    <div class="row create-order-row">
        <div class="card col-7">
            <table id="items-table" class="table table-striped" style="direction: rtl">
                <thead>
                <tr>
                    <th scope="col">تصویر</th>
                    <th scope="col">نام</th>
                    <th scope="col">رنگ</th>
                    <th scope="col">قیمت واحد</th>
                    <th scope="col">تعداد</th>
                    <th scope="col">قیمت نهایی</th>
                    <th scope="col">حذف</th>
                </tr>
                </thead>
                <tbody>
                </tbody>
            </table>
            <div class="row">
                <div class="col-5">
                    <button class="btn btn-secondary" data-toggle="modal"
                            data-target="#add-address-modal" style="margin-top: 9.7rem;"
                            id="add-address-btn">واردکردن آدرس جدید
                    </button>
                </div>
                <div class="col-7">
                    <form method="POST" action="{% url 'check_coupon' %}" id="coupon-form"
                          enctype="multipart/form-data">
                        {% csrf_token %}
                        <div class="form-group row" id="coupon-group">
                            <label class="col-0" for="coupon">کد تخفیف:&nbsp;</label>
                            <input type="text" class="form-control col-6" name="coupon" id="coupon">
                            <button type="submit" id="coupon-btn" class="btn btn-primary mr-2">اعمال تخفیف</button>
                        </div>
                    </form>

                    <form method="POST" id="create-order-form">
                        {% csrf_token %}
                        {% for error in form.non_field_errors %}
                            <p class="text-danger">{{ error }}*</p>
                        {% endfor %}
                        {% for error in form.shipping.errors %}
                            <p class="text-danger">{{ error }}*</p>
                        {% endfor %}
                        {% for error in form.address.errors %}
                            <p class="text-danger">{{ error }}*</p>
                        {% endfor %}
                        <div class="form-group row" id="shipping-group">
                            <label class="col-0" for="{{ form.shipping.id_for_label }}">نحوه پست:&nbsp;</label>
                            {{ form.shipping }}
                        </div>
                        <div class="form-group row" id="address-group">
                            <label class="col-0" for="{{ form.address.id_for_label }}">آدرس:&nbsp;</label>
                            <select type="text" class="form-control col-8 mr-3" name="address" id="id_address">
                                {% for address in user.addresses.all %}
                                    <option value="{{ address.id }}">{{ address }}</option>
                                {% endfor %}
                            </select>
                        </div>
                        <div class="mt-5">
                            <button type="submit" class="btn btn-submit" id="payment-btn">پرداخت
                                و ثبت نهایی سفارش
                            </button>
                            <button type="button" class="btn btn-danger mr-3"><a class="text-white"
                                                                                 href="{% url 'product:all_products' %}">انصراف</a>
                            </button>
                        </div>
                    </form>
                </div>
            </div>

        </div>
    </div>
{% endblock %}

{% block script %}
    <script src="{% static 'order/js/create-order.js' %}"></script>
{% endblock %}